<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/bootstrap.min.css">

    <title>TI Poliwangi</title>
    
</head>
<body>
    <div id="app">

        <header class="header_area navbar_fixed">
            <div class="nav-stanby">
                <nav class="navbar navbar-expand-lg navbar-light container" id="main-nav">
                    <a class="navbar-brand text-uppercase text-primary font-weight-bold" href="#">
                        <!-- <img src="https://pbs.twimg.com/profile_images/791639077510537216/4-UidI2K_400x400.jpg" alt="Logo HMTI" class="img-logo"> -->
                        <span class="rainbow"><img src="src/assets/img/2.png" v-show="scrolled" width="7%" />TI POLIWANGI</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-3 text-up" :class="{active: nav_active}" v-for="nav in navs">
                                <a class="nav-link font-weight-bold js-scroll-trigger" :href="'#'+nav">{{nav}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header> <!-- header -->
        
        <div class="text-right position-relative" id="Home">
            <svg xmlns="http://www.w3.org/2000/svg" class="waves waves-back position-absolute" viewBox="0 0 1440 320">
                <path style="fill : rgba(230, 231, 233, 0.788)" d="M0,0L60,48C120,96,240,192,360,197.3C480,203,600,117,720,106.7C840,96,960,160,1080,176C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
            </svg>
        </div>
        <div class="text-right position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="waves position-absolute" viewBox="0 0 1440 320">
                <linearGradient id="gradient" x2="1" y2="1">
                    <stop offset="0%" stop-color="#FFEF03"></stop>
                    <stop offset="100%" stop-color="#FF5A00"></stop>
                </linearGradient>
                <path style="fill : url(#gradient)" d="M0,0L60,48C120,96,240,192,360,197.3C480,203,600,117,720,106.7C840,96,960,160,1080,176C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
            </svg>
        </div>

        <div id="scene">
            <img v-for="i in 13" :src="'./src/assets/img/p-'+i+'.png'" class="position-absolute">
        </div>
        
        <div class="container pt-2">

            <div class="row pt-5 sign">
                <div class="col-md-7 sign py-auto">
                    <div class="my-4">
                        <h1 class="display-5 my-2 hello font-weight-bold">HELLO <span class="text-uppercase side-text">welcome to</span></h1>
                        <h1 class="display-3 my-3 ti-po font-weight-bold">TI POLIWANGI</h1>
                        <h4 class="display-5 mt-3 gen font-weight-bold text-uppercase">Generasi XII Teknik Informatika</h1>
                    </div>

                    <a href="http://ti.poliwangi.ac.id">
                        <button class="primary-btn mt-3 font-weight-bold px-4">Visit Official Site</button>
                    </a> 
                </div>
                <div class="col-md-5 hmti pt-5">
                    <img src="src/assets/img/2.png"  height="120%" alt="">
                </div>
            </div>

            <div class="donut position-absolute"></div>

            <br v-for="n in 16">

            <div class="parallax" data-parallax="scroll" data-image-src="./src/assets/img/bg-foto-min.jpg">
                <!-- <img src="./src/assets/img/bg-foto.jpg" alt=""> -->
            </div>

            <div class="text-center content-m">
                <div class="my-5 pt-5">
                    <h2>Kepengurusan HMTI</h2>
                    <h4 class="text-secondary">- Periode 2019 -</h4>
                </div>

                <div class="donut donut-center-top position-absolute"></div>

                <div class="donut donut-center-bottom position-absolute"></div>

                <div class="row">
                    <div class="col-md-4 my-3" v-for="i in 12">
                        <img :src="'./src/assets/img/hmti/p-'+i+'.jpg'" class="w-100 hmti-p scale" :id="'bg'+i">
                    </div>
                </div>
            </div>
            
            <div class="dropdown-divider m-0" id="About"></div>
            
            <!-- About Us -->
            <div class="row about content-m text-center">

                <img src="./src/assets/img/p-11.png" class="position-absolute">
                <img src="./src/assets/img/p-3.png" class="position-absolute">
                <img src="./src/assets/img/p-5.png" class="position-absolute">
                <img src="./src/assets/img/p-9.png" class="position-absolute">
                <img src="./src/assets/img/p-10.png" class="position-absolute">
                <img src="./src/assets/img/p-13.png" class="position-absolute">
                
                <div class="col-md-10 mx-auto">
                    <div class="my-5">
                        <h2>About Us</h2>
                        <h4 class="text-secondary">- The Amazing Team -</h4>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4" v-for="(about, key) in abouts">
                            <img class="rounded-circle dev scale" :src="'./src/assets/img/about/p-'+key+'.jpg'" alt="">
                            <h5 class="mt-3">{{ about.name }}</h5>
                            <p class="job text-secondary">- {{ about.job }} -</p>
                        </div>
                    </div>
                </div>

            </div> <!-- / About Us -->
                
        </div> <!-- Container -->
        
        <!-- Contact Us -->
        <div class="gradient-bar mt-5"></div>
        <div class="contact py-5 text-white" id="Contact">
            <div class="py-5 container">

                <div class="row">
                    <div class="col-md-5 pr-1">
                        <h6 class="font-weight-bold pb-3 text-uppercase">Contact us</h5>
                        <div class="text-secondary">

                            <p class="font-weight-bold">logiXode Inc. | Rohmad Kurniadi</p>
                            <p>Singolatren, Singojuruh, Kab. Banyuwangi</p>

                            <div class="row">
                                <div class="col-md-5">
                                    <icon-call></icon-call>+6287886541321
                                </div>

                                <div class="col-md-7">
                                    <icon-mail></icon-mail>    
                                    <a href="mailto:rohmad1230@gmail.com">rohmad1230@gmail.com</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 pr-1">
                        <h6 class="font-weight-bold pb-3 text-uppercase">Find Us at</h5>
                        <a href="https://web.facebook.com/rohmad.kurniadi.9">
                            <icon-fb></icon-fb>
                        </a>
                        <a href="https://www.youtube.com/channel/UCkCe4yOoN3E_xFa2EGl-H9Q">
                            <icon-yt></icon-yt>
                        </a>
                        <a href="https://github.com/logixode">
                            <icon-github class="mx-1"></icon-github>
                        </a>
                        <a href="https://www.instagram.com/rk_logixode/">
                            <icon-ig class="mx-1"></icon-ig>
                        </a>
                    </div>

                    <div class="col-md-3 pr-1 text-center">
                        <h6 class="font-weight-bold pb-3 text-uppercase">Compatible Device</h5>
                        
                        <icon-win></icon-win>
                        <icon-ios class="mx-1"></icon-ios>
                        <icon-linux></icon-linux>
                    </div>
                </div>

            </div>
        </div> <!-- / Contact Us -->

        <!-- Footer -->
        <footer>
            <div class="container">

                <div class="row py-2">
                    <div class="col-md-9 pt-3">
                        <h4 class="rainbow font-weight-bold mb-1">TI POLIWANGI</h4>
                        <div class="text-secondary">
                            <p>Copyright ©2019 All rights reserved | This Website made with Vue by Rohmad Kurniadi</p>
                        </div>
                    </div>
                    <div class="col-md-3 pt-3 text-center">
                        <a href="https://www.instagram.com/tipoliwangi/">
                            <icon-ig></icon-ig>
                        </a>asd
                        <a href="https://www.youtube.com/channel/UCq769ou-Gy0z5b8Nzgv4kfg">
                            <icon-yt></icon-yt>
                        </a>
                    </div>
                </div>
                

            </div>
        </footer> <!-- / Footer -->
        
    </div> <!-- App -->

    <script src="./src/js/bootstrap.js"></script>
    <script src="./src/js/jquery.js"></script>
    <script src="./src/js/parallax.js"></script>
    <script src="./src/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="./src/assets/js/parallax.js"></script> -->
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/app.js"></script>

</body>
</html>

<!-- === EOF === -->