.header_area.navbar_fixed .nav-stanby {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    /* background: #ffffff; */
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    /* box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); */
}
.header_area {
    position: absolute;
    width: 100%;
    z-index: 9999;
    background: #ffffff;
}

.waves {
    width: 180%;
    right: -2100px;
    z-index: -10;
}

.waves-back {
    width: 185%;
    right: -2198px;
}

#warna {
    background-color: aqua
}

.nav-stanby {
    background-color: transparent;
    /* height: 80px; */
}

.nav-stanby .navbar-brand {
    font-size: 1.50rem;
}

.nav-stanby .navbar .nav-link {
    color: #fff;
}

.nav-stanby .navbar .active>.nav-link {
    color: #fff !important;
}

.main_menu {
    background: white;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);

}

.main_menu .navbar .nav-link {
    color: #303030;
}
.main_menu .navbar .active>.nav-link {
    color: #636363 !important;
}

.main_menu .navbar-brand {
    font-size: 1.25rem;
}

body {
    /* background-image:url('#waves'); */
    /* background-size:cover; */
    background-color: #f3f6fa9a;
    overflow-x: hidden;
}

.img-logo {
    width: 7%;
    height: 7%;
}

.dev {
    height: 75%;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.125)!important;
    vertical-align: middle;
    position: relative;
}

.dev:hover {
    /* margin: 5px 0; */
    /* vertical-align: middle; */
    /* height: 72%; */
    box-shadow: 0 0.7rem 3rem rgba(0,0,0,.175)!important;
}

.job {
    font-size: 14px;
}

.gray {
    color: dimgray;
}

.rainbow {
    background-image: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 217, 3));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* color: rgba(0,0,0,.675) */
}

.hello::after {
    content: '';
    width: 430px;
    height: 2px;
    position: absolute;
    top: 18%;
    left: 21%;
    background: #000000;
}

.hmti {
    margin-top: 90px;
}

.weare {
    font-size: 22px;
    padding-left: 340px;
}

.display-3{
    font-size: 68px;
}

.him {
    font-size: 24.8px;
}

.doughnut {
    background: radial-gradient(circle, white 60%, rgba(223, 227, 235, 0.527) 40%);
    border-radius: 100%;
    height: 600px;
    width: 600px;
    margin-left: -655px;
}